@model List<BTL_Web.Controllers.CartController.OrderProductDTO>

<div style="margin-top: 50px; margin-bottom: 140px; display: flex; flex-direction: column; align-items: center;">
    @if (Model.Count > 0)
    {
        <table class="table" style="width: 100%; border-collapse: collapse; margin-bottom: 20px;">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Sản phẩm</th>
                    <th scope="col">Đơn giá</th>
                    <th scope="col">Số lượng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Order in Model)
                {
                    <tr id="@Order.OrderId" style="border-bottom: 1px solid #ddd;">
                        <td style="text-align: center; padding-top: 40px;">@Order.OrderId</td>
                        <td>
                            <div style="display: flex; align-items: center;">
                                <img src="@Order.ProductImg" style="width: 100px; height: 100px; margin-right: 10px;" />
                                <p>@Order.ProductName</p>
                            </div>
                        </td>
                        <td style=" display: flex;margin-top: 30px; border: none">
                            <div style="display: flex; align-items: center;">
                                <p>
                                    Đơn giá: @Order.ProductPrice
                                </p>
                            </div>
                        </td>
                        <td style="padding-top: 40px; ">
                            @* <button id="Tru" class="Tru" data-id="@Order.OrderId"
                    onclick="decrementQuantity(this)">-</button> *@
                            <input style="width: 40px; text-align: center;" value="@Order.SoLuong" id="@Order.OrderId" />
                            @* <button id="Cong" class="Cong" data-id="@Order.OrderId"
                    onclick="incrementQuantity(this)">+</button> *@
                        </td>

                    </tr>
                }
            </tbody>
        </table>


    }
    else
    {
        <div style="font-size: 20px; color: red;">
            Chưa có đơn hàng nào
        </div>
    }
</div>
