@model List<BTL_Web.Controllers.CartController.OrderProductDTO>


<div style="margin-top: -50px; margin-bottom: 140px">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sản phẩm</th>
                <th scope="col">Đơn giá</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Xóa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Order in Model)
            {
                <tr id="@Order.OrderId">
                    <div style="margin-top: 20px; padding: 10px; color: black; display: flex">
                        <td>
                            <h3>@Order.OrderId</h3>
                        </td>
                        <td style="display: flex;">
                            <img src="~/Images/@Order.ProductImg" style="width: 200px; height: 200px" />
                            <p> @Order.ProductName</p>
                        </td>
                        <td>
                            <p>@Order.ProductPrice</p>

                        </td>
                        <td>
                            @* <button id="Tru" class="Tru" data-id="@Order.OrderId">
                        -
                        </button> *@
                            <input style="width: 60px" value="@Order.SoLuong" />
                            @* <button id="Cong" class="Cong" data-id="@Order.OrderId">
                        +
                        </button> *@
                        </td>
                        <td>
                            <button data-id="@Order.OrderId" class="btn-delete">
                                Xóa
                            </button>
                        </td>
                    </div>
                </tr>
            }

        </tbody>
    </table>


    <div style="position: absolute ; right: 10%;">
        <button id="dathang">
            Đặt hàng
        </button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>


    //cộng sản phẩm
    document.getElementById('Tru').addEventListener('click', () => {
        var buttonElement = document.getElementById("Tru");
        var dataIdValue = buttonElement.getAttribute("data-id");
        console.log({ dataIdValue })
        fetch("/Cart/SoLuongTru", {
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded",
            },
            body: "id=" + dataIdValue
        })
            .then((data) => {
                return data.json()
            })
            .then((data) => {
                console.log({ data })
            })
            .catch(err => {
                console.log(err)
            })
    })

    //cộng sản phẩm
    document.getElementById('Cong').addEventListener('click', () => {
        var buttonElement = document.getElementById("Cong");
        var dataIdValue = buttonElement.getAttribute("data-id");
        console.log({ dataIdValue })
        fetch("/Cart/SoLuongCong", {
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded",
            },
            body: "id=" + dataIdValue
        })
            .then((data) => {
                return data.json()
            })
            .then((data) => {
                console.log({ data })
            })
            .catch(err => {
                console.log(err)
            })
    })

    //datdtj hangf
    document.getElementById('dathang').addEventListener('click', () => {
        var orderIds = [];

        $(".btn-delete").each(function () {
            orderIds.push($(this).data("id"));
        });

        console.log(orderIds)

        // Now orderIds array contains all OrderIds
        fetch("/Cart/DatHang", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",

            },
            body: JSON.stringify(orderIds)

        })
            .then((data) => {
                return data.json();
            })
            .then((data) => {
                console.log({ data });
            })
            .catch(err => {
                console.log(err);
            });
    });



    $(document).ready(function () {
        $(".btn-delete").click(function () {
            var hanghoaId = $(this).data("id");
            console.log(hanghoaId)
            if (confirm("Có chắc chắn muốn xoá không?")) {
                $.ajax({
                    url: '/Cart/DeleteCart',
                    method: 'delete',
                    data: { id: hanghoaId },
                    success: function (result) {
                        if (result.success) {
                            document.getElementById(hanghoaId).remove()
                            alert("Xoas thanh cong")
                        } else {
                            alert("Không thể xóa hàng hoá.");
                        }
                    }
                });
            }
        });
    });


</script>